**Advance Data Cleaning - Part 2.**

Till this time I hope you Have seen the Part 1, From Youtube.
This is the continuation of part -2.

Part 1 Video - https://www.youtube.com/watch?v=k2uGGzzQwTA&t=21s
----------------------------------

Today we will clean data , using 3 Advance Data Cleaning Functionality.

 **Step 1 : Create DataFrame
Description**

Begin by loading your data into a pandas DataFrame, either by creating one from scratch or importing it from a CSV file using pd.read_csv('path-to-csv-file').


**Step 2: Handle Outliers (IQR Method)
Description**

Use the Interquartile Range (IQR) method to detect and remove outliers, ensuring your dataset remains accurate and free from extreme values that could skew results.

**Step 3: Advanced Imputation (KNN Imputation)**

Description: Address missing data with K-Nearest Neighbors (KNN) Imputation, which estimates and fills missing values based on the similarity of other data points.


**Step 4: One-Hot Encoding
Description**

Convert categorical data into a numerical format using one-hot encoding, allowing your machine learning models to process these variables without bias.

**Step 5: Create Downloadable CSV File**

Description: Save the cleaned and processed DataFrame as a CSV file, making it easy to share or use in further analysis.

**Step 1: Create DataFrame**

In [14]:
# Install necessary packages (run this in your terminal or command line, not in the script)
# pip install pandas numpy scikit-learn

import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

# Creating a sample dataset
np.random.seed(42)
data = {
    'Age': np.random.randint(18, 70, size=10),
    'Salary': [35000, 50000, 70000, 85000, 90000, 120000, 150000, 200000, 220000, 300000],
    'Experience': [1, 3, 5, 7, 9, np.nan, 15, 20, np.nan, 30],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR', 'Finance', 'IT', 'Marketing', 'HR', 'Finance'],
    'Bonus': [5000, 7000, 9000, 10000, np.nan, 12000, 15000, 20000, np.nan, 30000]
}

df = pd.DataFrame(data)
df

   Age  Salary  Experience Department    Bonus
0   56   35000         1.0         HR   5000.0
1   69   50000         3.0    Finance   7000.0
2   46   70000         5.0         IT   9000.0
3   32   85000         7.0  Marketing  10000.0
4   60   90000         9.0         HR      NaN
5   25  120000         NaN    Finance  12000.0
6   38  150000        15.0         IT  15000.0
7   56  200000        20.0  Marketing  20000.0
8   36  220000         NaN         HR      NaN
9   40  300000        30.0    Finance  30000.0

**Step 2: Handling Outliers (IQR Method)**

In [15]:
df.loc[5, 'Salary'] = 500000  # Adding an outlier
df.loc[9, 'Department'] = np.nan  # Adding a missing value
print("Initial DataFrame:\n", df)

Initial DataFrame:
    Age  Salary  Experience Department    Bonus
0   56   35000         1.0         HR   5000.0
1   69   50000         3.0    Finance   7000.0
2   46   70000         5.0         IT   9000.0
3   32   85000         7.0  Marketing  10000.0
4   60   90000         9.0         HR      NaN
5   25  500000         NaN    Finance  12000.0
6   38  150000        15.0         IT  15000.0
7   56  200000        20.0  Marketing  20000.0
8   36  220000         NaN         HR      NaN
9   40  300000        30.0        NaN  30000.0

In [16]:
# Calculate IQR for Salary
Q1 = df['Salary'].quantile(0.25)
Q3 = df['Salary'].quantile(0.75)
IQR = Q3 - Q1
print('Value of Q1:', Q1)
print('Value of Q3:', Q3)
print('IQR:', IQR)
print('\n')

Value of Q1: 73750.0
Value of Q3: 215000.0
IQR: 141250.0

In [17]:
# Remove outliers from Salary
df = df[~((df['Salary'] < (Q1 - 1.5 * IQR)) | (df['Salary'] > (Q3 + 1.5 * IQR)))]
print("DataFrame after removing outliers:\n", df)

DataFrame after removing outliers:
    Age  Salary  Experience Department    Bonus
0   56   35000         1.0         HR   5000.0
1   69   50000         3.0    Finance   7000.0
2   46   70000         5.0         IT   9000.0
3   32   85000         7.0  Marketing  10000.0
4   60   90000         9.0         HR      NaN
6   38  150000        15.0         IT  15000.0
7   56  200000        20.0  Marketing  20000.0
8   36  220000         NaN         HR      NaN
9   40  300000        30.0        NaN  30000.0

**Step 3: Advanced Imputation (KNN Imputation)**

In [18]:
# Initialize KNNImputer
imputer = KNNImputer(n_neighbors=2)

# Impute missing values in Experience and Bonus
df[['Experience', 'Bonus']] = imputer.fit_transform(df[['Experience', 'Bonus']])
print("\nDataFrame after imputing missing values:\n", df)

DataFrame after imputing missing values:
    Age  Salary  Experience Department         Bonus
0   56   35000        1.00         HR   5000.000000
1   69   50000        3.00    Finance   7000.000000
2   46   70000        5.00         IT   9000.000000
3   32   85000        7.00  Marketing  10000.000000
4   60   90000        9.00         HR   9500.000000
6   38  150000       15.00         IT  15000.000000
7   56  200000       20.00  Marketing  20000.000000
8   36  220000       11.25         HR  13714.285714
9   40  300000       30.00        NaN  30000.000000

<ipython-input-18-cc8c8ffb8000>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Experience', 'Bonus']] = imputer.fit_transform(df[['Experience', 'Bonus']])

**Step 4: One-Hot Encoding**

In [19]:
# One-Hot Encoding for Department
df = pd.get_dummies(df, columns=['Department'], drop_first=True)
print("\nDataFrame after one-hot encoding Department:\n", df)

DataFrame after one-hot encoding Department:
    Age  Salary  Experience         Bonus  Department_HR  Department_IT  \
0   56   35000        1.00   5000.000000           True          False
1   69   50000        3.00   7000.000000          False          False
2   46   70000        5.00   9000.000000          False           True
3   32   85000        7.00  10000.000000          False          False
4   60   90000        9.00   9500.000000           True          False
6   38  150000       15.00  15000.000000          False           True
7   56  200000       20.00  20000.000000          False          False
8   36  220000       11.25  13714.285714           True          False
9   40  300000       30.00  30000.000000          False          False

   Department_Marketing
0                 False
1                 False
2                 False
3                  True
4                 False
6                 False
7                  True
8                 False
9                 False

**Step 5 : Printing the Output File**

In [21]:
print('Output File Has been generated')
df = df.to_csv('Output123.csv')